= content_for :nav_title do
  = Constants.get_breadcomb_link(Constants::BREADCOMB_SECTION_INDEX_USER, Constants::BREADCOMB_SECTION_MODE_SHOW, [@user])

.card

  .card-content
    %div{:class => "content"}
      %div{:class => "container-fluid"}
        %div{:class => "row"}
          %div{:class => "col-lg-4 col-md-5"}
            %div{:class => "card card-user"}
              %div{:class => "image"}
                = "<img src='../../images/background.jpg' alt='...'/>".html_safe
              %div{:class => "card-content"}  
                %div{:class => "author"}
                  = "<img class='avatar border-white' src='../../images/user_profile.png' alt='...'/>".html_safe
                  %h4{:class => "card-title"} 
                    = "<span style='color:#51cbce'>#{@user.name}</span>".html_safe
              %hr
              %div{:class => "text-center"}
                %div{:class => "row"}
                  %div{:class => "col-md-4"}
                    = link_to "<h5>#{@followings_count}<br /><small>Following</small></h5>".html_safe, admin_user_show_followings_path(:id => @user.id, :user_id => @user.id), :class=> 'page_link_color'
                  %div{:class => "col-md-4"}
                    = link_to "<h5>#{@followers_count} <br /><small>Followers</small></h5>".html_safe, admin_user_show_followers_path(:id => @user.id, :user_id => @user.id), :class=> 'page_link_color'
                  %div{:class => "col-md-4"}
                    = link_to "<h5>#{@pending_count} <br /><small>Open Requests</small></h5>".html_safe, admin_user_show_pending_requests_path(:id => @user.id, :user_id => @user.id), :class=> 'page_link_color'

          %div{:class => "col-lg-8 col-md-7"}                      
            %div{:class => "card"}                    
              %div{:class => "card-header"}  
                %h4{:class => "card-title"}  
                  Other Detail  
              %div{:class => "card-content"}  

                %div{:class => "row"}
                  %div{:class => "col-md-3"}
                    %div{:class => "form-group"}
                      %label Sign In Count
                      = "<input type='text' class='form-control border-input' disabled placeholder='Sign In Count' value='#{@user.sign_in_count}'>".html_safe

                  %div{:class => "col-md-5"}
                    %div{:class => "form-group"}
                      %label= Constants::EMAIL_TEXT
                      = "<input type='text' class='form-control border-input' disabled placeholder='#{Constants::EMAIL_TEXT}' value='#{@user.email}'>".html_safe
                  %div{:class => "col-md-4"}
                    %div{:class => "form-group"}
                      %label= Constants::CREATION_DATE
                      = "<input type='text' class='form-control border-input' disabled placeholder='' value='#{time_format(@user.created_at)}'>".html_safe

                %div{:class => "row"}
                  %div{:class => "col-md-12"}
                    %div{:class => "form-group"}
                      %label Device Token
                      = "<input type='text' class='form-control border-input' disabled placeholder='' value='#{@user.device_token}'>".html_safe
      


