= content_for :nav_title do
  = Constants.get_breadcomb_link(Constants::BREADCOMB_SECTION_INDEX_USER, Constants::BREADCOMB_SECTION_MODE_MISC, [@user, "Followings"])

.card
  .card-content
    %table.table{:class => "table table-hover"}
      %thead
        - if @follow_requests.size > 0
          %tr{:style => "height:60px"}
            %th  # 
            %th= sort_link @q, :user_id, "User" 
            %th= Constants::STATUS_TEXT
            %th= sort_link(@q, :created_at, 'Request Date')
      %tbody
        - @follow_requests.each_with_index do |follow_request, counter|

        - user_to_follow = follow_request.user_to_follow

        - request_status = (follow_request.confirmed_on.nil? && follow_request.cancelled_on.nil?) ? "Pending" : (follow_request.is_confirmed ? "<span style='color:green' >Confirmed</span>" : "<span style='color:red' >Cancelled</span>")
        - status_date    = (follow_request.confirmed_on.nil? && follow_request.cancelled_on.nil?) ? "" : (follow_request.is_confirmed ? Constants.convert_date_to_mdyhm_ampm_format(follow_request.confirmed_on) : Constants.convert_date_to_mdyhm_ampm_format(follow_request.cancelled_on))
        - user_to_follow_link = link_to "<b><span style='color:black' >#{user_to_follow.name}</span></b><br>#{user_to_follow.email}".html_safe, admin_user_path(user_to_follow), :class=> 'page_link_color' 

          %tr
            %td{:width=>"2%", :style => 'vertical-align:top'}= index_no + counter
            %td{:style => 'vertical-align:top'}= user_to_follow_link
            %td{:style => 'vertical-align:top'}= "#{request_status}<br/>#{status_date}".html_safe
            %td{:style => 'vertical-align:top'}= "#{follow_request.created_at.strftime('%b %d, %Y')}<br/><span class='text-muted'><i class='ob-icons icon-time-alarm text-muted'></i> #{Constants.convert_date_to_hms_format(follow_request.created_at)}</span>".html_safe
 
    // Pager
    .pagination-container
      = paginate @follow_requests
