!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ 'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{ :name => 'viewport', :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0" }
    %title MuSync
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.hold-transition.login-page
    .login-box.card
      .login-logo
        %a{ href: '/' }
          = image_tag 'logo.png'
      .login-box-body
        = yield
    = render 'shared/footer'
